In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, TimeSeriesSplit
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.metrics import roc_auc_score
from tqdm import tqdm
import pandas_profiling
import datetime
%pylab inline
warnings.filterwarnings('ignore')

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('data/uplift_train.csv')
df1 = pd.read_csv('data/clients.csv')
df2 = pd.read_csv('data/products.csv')
test = pd.read_csv('data/uplift_test.csv')

In [3]:
data_train = pd.merge(df1,df)
miss = data_train[data_train['first_redeem_date'].isna()]
miss['first_redeem_date']=miss['first_issue_date']
data_train.first_redeem_date[miss.index]=miss.first_redeem_date.values
data_train

,client_id,first_issue_date,first_redeem_date,age,gender,treatment_flg,target
0,000012768d,2017-08-05 15:40:48,2018-01-04 19:30:07,45,U,0,1
1,000036f903,2017-04-10 13:54:23,2017-04-23 12:37:56,72,F,1,1
2,00010925a5,2018-07-24 16:21:29,2018-09-14 16:12:49,83,U,1,1
3,0001f552b0,2017-06-30 19:20:38,2018-08-28 12:59:45,33,F,1,1
4,00020e7b18,2017-11-27 11:41:45,2018-01-10 17:50:05,73,U,1,1
...,...,...,...,...,...,...,...
200034,fffe0abb97,2017-11-27 08:56:54,2018-02-11 09:26:08,35,F,0,0
200035,fffe0ed719,2017-09-15 08:53:24,2017-12-12 14:50:12,69,U,0,1
200036,fffea1204c,2018-01-31 16:59:37,2018-03-12 17:02:27,73,F,0,1
200037,fffeca6d22,2017-12-28 11:56:13,2017-12-28 11:56:13,77,F,1,0
200038,fffff6ce77,2017-08-03 20:25:12,2017-08-26 16:41:41,42,U,0,1

In [4]:
data_test=pd.merge(df1,test)
miss = data_test[data_test['first_redeem_date'].isna()]
miss['first_redeem_date']=miss['first_issue_date']
data_test.first_redeem_date[miss.index]=miss.first_redeem_date.values
data_test

         client_id     first_issue_date    first_redeem_date  age gender
0       000048b7a6  2018-12-15 13:33:11  2018-12-15 13:33:11   68      F
1       000073194a  2017-05-23 12:56:14  2017-11-24 11:18:01   60      F
2       00007c7133  2017-05-22 16:17:08  2018-12-31 17:17:33   67      U
3       00007f9014  2017-08-22 13:35:01  2019-02-15 19:19:18   45      F
4       0000a90cf7  2017-05-20 12:34:50  2017-07-08 12:48:22   45      U
...            ...                  ...                  ...  ...    ...
200118  fffeacbe3e  2017-07-19 08:38:17  2017-10-13 10:59:14   47      F
200119  fffece623e  2018-05-13 15:09:30  2018-12-27 19:06:39   67      U
200120  ffff3dfff8  2018-11-01 16:06:52  2018-12-07 17:33:47   56      F
200121  ffffaab9da  2017-08-25 18:43:24  2017-12-08 17:53:19   23      F
200122  ffffeb5619  2017-12-05 13:26:28  2017-12-05 13:26:28   62      U

[200123 rows x 5 columns]

In [5]:
data_train['first_issue_date']=pd.to_datetime(data_train['first_issue_date'])
data_train['first_redeem_date']=pd.to_datetime(data_train['first_redeem_date'])
data_test['first_issue_date']=pd.to_datetime(data_test['first_issue_date'])
data_test['first_redeem_date']=pd.to_datetime(data_test['first_redeem_date'])

In [6]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200039 entries, 0 to 200038
Data columns (total 7 columns):
client_id            200039 non-null object
first_issue_date     200039 non-null datetime64[ns]
first_redeem_date    200039 non-null datetime64[ns]
age                  200039 non-null int64
gender               200039 non-null object
treatment_flg        200039 non-null int64
target               200039 non-null int64
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 17.2+ MB

In [7]:
data_train['fake_age'] = data_train['age'].apply(lambda x:int((x>90)or(x<16)))
data_test['fake_age'] = data_test['age'].apply(lambda x:int((x>90)or(x<16)))

In [8]:
data_train['first_issue_date'] = data_train['first_issue_date'].apply(lambda x: x.timestamp())
data_train['first_redeem_date'] = data_train['first_redeem_date'].apply(lambda x: x.timestamp())
data_test['first_issue_date'] = data_test['first_issue_date'].apply(lambda x: x.timestamp())
data_test['first_redeem_date'] = data_test['first_redeem_date'].apply(lambda x: x.timestamp())

In [34]:
purch = pd.read_csv('data/purchases.csv',parse_dates=['transaction_datetime'])

In [42]:
user_id = purch.drop_duplicates('client_id').client_id.values

In [36]:
transactions = purch.drop_duplicates('transaction_id')

In [38]:
transactions['transaction_datetime'] = transactions['transaction_datetime'].apply(lambda x: x.timestamp())

In [12]:
#число покупок
a = transactions[['client_id','transaction_id']].values
pok=[]
user=''
count=0
for row in a:
    if row[0]!=user:
        pok.append(count)
        user =row[0]
        count=1
    else:
        count+=1
pokupki = pok[1:]
pokupki.append(count)

In [39]:
#даты последних покупок
dates = purch.drop_duplicates('client_id',keep='last').transaction_datetime.values

In [95]:
#число магазинов
b = transactions[['client_id','store_id']].values
store=[]
user=''
count=0
for row in b:
    if row[0]!=user:
        store.append(count)
        user =row[0]
        count=1
        last_store = row[1]
    else:
        if row[1]!=last_store:
            count+=1
            last_store = row[1]
stores = store[1:]
stores.append(count)

In [27]:
#cредняя сумма покупки
c = transactions[['client_id','purchase_sum']].values
avsum=[]
user=''
count=1
sred=0
for row in c:
    if row[0]!=user:
        avsum.append(sred/count)
        user =row[0]
        count=1
        sred=row[1]
    else:
        count+=1
        sred+=row[1]
average = avsum[1:]
average.append(sred/count)

In [46]:
produkti = purch.product_id.values
useri = purch.client_id.values

In [61]:
alcohol = set(df2[df2['is_alcohol']==1].product_id.values)
owner = set(df2[df2['is_own_trademark']==1].product_id.values)

In [56]:
alc = lambda x: int(x in alcohol)
is_alc = [alc(i) for i in produkti]
own = lambda x: int(x in owner)
is_own = [own(i) for i in produkti]

In [58]:
purch['product_is_alco']=is_alc
purch['product_is_own']=is_own

In [88]:
#число купленного алкоголя и собственной торговой марки
a = transactions[['client_id','transaction_id']].values
alc_count=[]
own_count=[]
user=''
count_alc=0
count_own=0
for i in range(len(useri)):
    if useri[i]!=user:
        alc_count.append(count_alc)
        own_count.append(count_own)
        user =useri[i]
        count_alc=is_alc[i]
        count_own=is_own[i]
    else:
        count_alc+=is_alc[i]
        count_own+=is_own[i]
alc_count = alc_count[1:]
own_count = own_count[1:]
alc_count.append(count_alc)
own_count.append(count_own)

In [101]:
new_features = pd.DataFrame({'user_id':user_id,'transaction_count':pokupki,'av_sum':average,
                             'last_transaction':dates,'store_count':stores,
                             'alc_count':alc_count,'own_count':own_count})

In [102]:
new_features

,user_id,transaction_count,av_sum,last_transaction,store_count,alc_count,own_count
0,000012768d,4,700.750000,2019-03-14 15:01:47,3,0,4
1,000036f903,32,306.406250,2019-03-17 10:29:37,14,1,14
2,000048b7a6,8,471.500000,2019-03-12 10:28:19,3,0,3
3,000073194a,17,564.788235,2019-03-16 09:41:21,1,9,3
4,00007c7133,11,610.894545,2019-03-04 16:23:30,5,0,10
...,...,...,...,...,...,...,...
400157,fffece623e,24,272.083750,2019-03-13 15:44:39,3,1,19
400158,ffff3dfff8,17,427.343529,2019-03-17 16:50:01,1,2,13
400159,ffffaab9da,7,541.571429,2019-03-09 18:32:50,1,0,7
400160,ffffeb5619,7,2175.174286,2019-03-08 12:32:49,3,8,10
400161,fffff6ce77,32,580.018438,2019-03-15 17:47:02,10,14,43

In [64]:
purch

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red,product_is_alco,product_is_own
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN,0,0
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN,0,1
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN,0,0
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN,0,0
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45786563,fffff6ce77,48f6d115ce,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,5ec64bdccb,24d5a54f42,1.0,164.0,NaN,0,0
45786564,fffff6ce77,48f6d115ce,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,5ec64bdccb,7427d0830d,1.0,134.0,NaN,0,0
45786565,fffff6ce77,48f6d115ce,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,5ec64bdccb,6c547c2ca8,1.0,60.0,NaN,0,0
45786566,fffff6ce77,48f6d115ce,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,5ec64bdccb,d04e7a8338,1.0,48.0,NaN,0,0
45786567,fffff6ce77,48f6d115ce,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,5ec64bdccb,f40cd0b2f4,1.0,17.0,NaN,0,0

In [22]:
purch.head(30)

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN
5,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,21db5dbe53,1.0,34.0,NaN
6,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,1e208d0b4c,1.0,24.0,NaN
7,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,15ccaa8685,1.0,51.0,NaN
8,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,45389bb5b0,1.0,23.0,NaN
9,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,cb4c804130,1.0,60.0,NaN
10,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,7c39f1d12c,1.0,67.0,NaN
11,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,63e2eac70d,1.0,40.0,NaN
12,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,c7cc613e79,1.0,90.0,NaN
13,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,ad865591c6,1.0,49.0,NaN
14,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,7118c66f7f,1.0,40.0,NaN
15,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,c55ed13ebd,1.0,80.0,NaN
16,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9cdad65286,1.0,58.0,NaN
17,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,17cf3963fb,1.0,68.0,NaN
18,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,6bbace0869,1.0,82.0,NaN
19,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,4dcf79043e,4.0,164.0,NaN
20,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,e6f8ac5174,1.0,9.0,NaN
21,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,439498bce2,1.0,0.0,NaN
22,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,9d94b94635,1.0,45.0,NaN
23,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,32ac3fc229,1.0,38.0,NaN
24,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,057ea8df98,1.0,27.0,NaN
25,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,63749d80eb,1.0,120.0,NaN
26,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,894b4c078d,1.0,40.0,NaN
27,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,bd3a2df92d,1.0,50.0,NaN
28,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,e4739de8d3,1.0,32.0,NaN
29,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,1acd9131f6,1.0,50.0,NaN

In [102]:
purch[purch['client_id']=='fffff6ce77'].transaction_id.unique()

array(['39adf9bc90', '6f3e8c4206', 'b9df703e73', 'c23fb153e3',
       '3095189ca6', 'f8dd10c7f3', '1ef8faaef5', 'f58417b669',
       '05ed817d1b', 'e9182e5887', '121e4d9d82', '3d26de65c6',
       '21b19ec223', 'cdfb7637be', '399d2887cc', 'cb754dc40d',
       'f0af5bcc0b', '45ab41b4ef', 'db6b939b09', '1f99056e78',
       '8cb231a958', 'd3dd278743', '9ca656ce78', '0daa0f103f',
       '458e7087ed', '33a3e7607c', 'a612dd3da5', 'eba2694c0c',
       'bdd578a115', '6d9fc7ad6b', 'b8b6e5e851', '48f6d115ce'],
      dtype=object)

In [26]:
df2[df2['product_id']=='9a80204f78'].is_alcohol.values[0]

0

In [18]:
purch[purch['client_id']=='000012768d'].purchase_sum.mean()

784.7884615384615

In [19]:
user_id = list(set(purch.client_id.values))

In [29]:
%%time
new_features = []
for user in user_id[:5]:
    a = []
    #user_id
    a.append(user)
    #число покупок
    a.append(len(purch[purch['client_id']==user].transaction_id.unique()))
    #дата последней покупки
    a.append(purch[purch['client_id']==user].transaction_datetime.values[-1])
    #средняя сумма покупки
    a.append(purch[purch['client_id']==user].purchase_sum.mean())
    #число различных магазинов
    a.append(len(purch[purch['client_id']==user].store_id.unique()))
    new_features.append(a)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.58 µs

In [30]:
new_features

[['d6f2a8b014', 19, '2019-03-17 07:21:51', 126.25490196078431, 4],
 ['17eaff0e4c', 27, '2019-03-10 10:03:14', 1345.0753367875648, 4],
 ['24fe2adb20', 25, '2019-03-15 15:35:06', 920.5958518518519, 3],
 ['af31feec5e', 20, '2019-02-28 06:33:33', 776.457627118644, 3],
 ['0a32c56683', 30, '2019-03-12 11:49:36', 449.59091397849465, 3]]

In [200]:
df2.head()

,product_id,level_1,level_2,level_3,level_4,segment_id,brand_id,vendor_id,netto,is_own_trademark,is_alcohol
0,0003020d3c,c3d3a8e8c6,c2a3ea8d5e,b7cda0ec0c,6376f2a852,123.0,394a54a7c1,9eaff48661,0.400,0,0
1,0003870676,e344ab2e71,52f13dac0c,d3cfe81323,6dc544533f,105.0,acd3dd483f,10486c3cf0,0.680,0,0
2,0003ceaf69,c3d3a8e8c6,f2333c90fb,419bc5b424,f6148afbc0,271.0,f597581079,764e660dda,0.500,0,0
3,000701e093,ec62ce61e3,4202626fcb,88a515c084,48cf3d488f,172.0,54a90fe769,03c2d70bad,0.112,0,0
4,0007149564,e344ab2e71,52f13dac0c,d3cfe81323,6dc544533f,105.0,63417fe1f3,f329130198,0.600,0,0

In [15]:
df.target.value_counts()

1    124002
0     76037
Name: target, dtype: int64

In [18]:
test.head()

    client_id
0  000048b7a6
1  000073194a
2  00007c7133
3  00007f9014
4  0000a90cf7

In [19]:
df1[df1['client_id']=='000048b7a6']

    client_id     first_issue_date first_redeem_date  age gender
2  000048b7a6  2018-12-15 13:33:11               NaN   68      F